<section id="organizers">
    <div class="row">
        <div class="title text-center">Organizers:</div>
        <div class="col-md-12 team">
            <table>
                <tr>
                    <td><img src="../css/2018_style/img/seemaJha.jpeg"></td>
                    <td><a href="https://x.com/seemajha10">Seema Jha</a></td>
                    <td><img src="../css/2018_style/img/VishwajeetsinghDesurkar.png"></td>
                    <td><a href="https://x.com/VishwaDesurkar">Vishwajeetsingh Desurkar</a></td>
                    <td><img src="../css/2018_style/img/SagarSonvane.jpg"></td>
                    <td><a href="https://x.com/sagarsonwane23">Sagar Sonwane</a></td>
                </tr>
            </table>
            <br><br>
        </div>
    </div>
</section>