<section id="sponser">
    <div class="row">
        <div class="title text-center">Sponsors:</div>
        <div class="col-md-12 text-center">
            <!-- <a href="https://aviabird.com/" target="_blank">
                <img src="../css/2018_style/img/aviabird-logo.jpg" style = "height: 115%"/>
            </a>
            <a href="https://www.gojek.com/" target="_blank">
                <img src="../css/2018_style/img/Gojek_Logo-02.png"/>
            </a> -->
            <a href="http://joshsoftware.com/" target="_blank">
                <img src="../css/2018_style/img/josh-logo.svg" />
            </a>
            <!-- <a href="https://www.redhat.com/" target="_blank">
                <img src="../css/2018_style/img/Red Hat@2x.png" />
            </a> -->
        </div>
    </div>
</section>