---
permalink: /2018/pune
---

<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}

    <body id="page-top" class="index">
     {% include 2018_data/header-home-pune.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GoLangGirls/Pune<br></div>
                <div class="intro-lead-in">25th Nov 2018 </div>
                <div class="intro-lead-in">I-space IT park, Josh Software, Pune </div><br><br>
            </div>
        </div>
    </header>
    <br><br>
    <div class="text-center txt-red">Registrations closed!!</div>
    {% include 2018_data/about.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/organizers.html %}
    {% include 2018_data/contact_pune.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/js.html %}

    </body>
</html>
