---
permalink: /2018/pune
---

<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}

    <body id="page-top" class="index">
     {% include 2018_data/header-home-pune.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GoLangGirls/Pune<br></div>
                <div class="intro-lead-in">25th Nov 2018 </div>
                <div class="intro-lead-in">
                    <a target="_blank" href="https://www.google.co.in/maps/place/Josh+Software+Private+Limited/@18.5123131,73.7677813,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2bed799aac07b:0x6799a8c390473c64!8m2!3d18.5123131!4d73.76997">
                        JOSH SOFTWARE PVT. LTD, PUNE
                    </a>
                </div><br><br>
            </div>
        </div>
    </header>
    <br><br>
    <!-- <div class="text-center">Only 5 seats are available. Hurry up and book your seat. Click <a href="https://www.townscript.com/e/go-girls-pune/booking">here</a> to register now!</div><br><br> -->

    {% include 2018_data/venue.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/contact_pune.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/organizers.html %}
    {% include 2018_data/js.html %}

    </body>
</html>
