---
permalink: /2018/pune
---

<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}

    <body id="page-top" class="index">
     {% include 2018_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GoLangGirls/Pune<br></div>
                <div class="intro-lead-in">Pune - 25th Nov 2018 </div>
                <div class="intro-lead-in">
                  <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
                <a href="https://www.townscript.com/e/go-girls-pune"
                  class="not-active page-scroll btn btn-xl" target="_blank">Registration Closed</a>
            </div>
        </div>
    </header>
   
    {% include 2018_data/about.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/js.html %}

    </body>
</html>
