<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">GoLangGirls</h2>
                </div>
            </div>
            <div class="row container">

                <center><a href="https://www.townscript.com/e/go-girls-pune"
                    class="page-scroll btn btn-xl" target="_blank">Register Here</a></center>
            </div>
        </div>
    </section>
