<section id="organizers">
    <div class="row">
        <div class="title text-center">Organizers:</div>
        <div class="col-md-12 team">
            <table>
                <tr>
                    <td><img src="../css/2018_style/img/shweta_profile.jpg"></td>
                    <td><a href="https://twitter.com/Shwetakale13">Shweta Kale</a></td>
                    <td><img src="../css/2018_style/img/anuja_profile.png"></td>
                    <td><a href="https://twitter.com/_anujajoshi">Anuja Joshi</a></td>
                    <td><img src="../css/2018_style/img/varsha_profile.jpg"></td>
                    <td>Varsha Yadav</td>
                    <td><img src="../css/2018_style/img/geeta_profile.png"></td>
                    <td><a href="https://twitter.com/geetkokate">Geetanjali Kokate</a></td>
                    <td><img src="../css/2018_style/img/bandana_profile.jpg"></td>
                    <td><a href="https://twitter.com/BANDANAPANDEY19">Bandana Pandey</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>