<section id="organizers">
    <div class="row">
        <div class="title text-center">Organizers:</div>
        <div class="col-md-12 text-center">
            <table>
                <tr>
                    <td><img src="../css/2018_style/img/shweta_profile.jpg"></td>
                    <td>Shweta Kale</td>
                    <td><img src="../css/2018_style/img/anuja_profile.png"></td>
                    <td>Anuja Joshi</td>
                    <td><img src="../css/2018_style/img/varsha_profile.jpg"></td>
                    <td>Varsha Yadav</td>
                    <td><img src="../css/2018_style/img/geeta_profile.png"></td>
                    <td>Geetanjali Kokate</td>
                    <td><img src="../css/2018_style/img/bandana_profile.jpg"></td>
                    <td>Bandana Pandey</td>
                </tr>
            </table>
        </div>
    </div>
</section>