<section id="organizers">
    <div class="row">
        <div class="title text-center">Organizers:</div>
        <div class="col-md-12 team">
            <table>
                <tr>
                    <td><img src="../css/2018_style/img/shweta_profile.jpg"></td>
                    <td><a href="https://twitter.com/Shwetakale13">Shweta Kale</a></td>
                    <td><img src="../css/2018_style/img/anuja_profile.png"></td>
                    <td><a href="https://twitter.com/_anujajoshi">Anuja Joshi</a></td>
                    <td><img src="../css/2018_style/img/varsha_profile.jpg"></td>
                    <td><a href="https://twitter.com/varshayadav257">Varsha Yadav</a></td>
                </tr>
                <tr>
                    <td><img src="../css/2018_style/img/Parthvi Vala.jpg"></td>
                    <td><a href="https://twitter.com/valaparthvi">Parthvi Vala</a></td>
                    <td><img src="../css/2018_style/img/priyanka.jpeg"></td>
                    <td><a href="https://twitter.com/Priyank58930743">Priyanka Yadav</a></td>
                    <td><img src="../css/2018_style/img/tanya.jpeg"></td>
                    <td><a href="https://twitter.com/Tanya_Saroha">Tanya Saroha</a></td>
                </tr>
            </table>
            <br><br>
        </div>
    </div>
</section>