<section >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <b>Register Now</b>
            </div>
        </div>
        <div class="row">
            <p class="text-center">
                Online tickets for Pune event are not sold out.<br> No worries!!<br>
                You can still have chance to attend this event. Please contact organizer team!!<br>
                You can book tickets for bangalore event from <a href="https://www.townscript.com/e/go-girls-pune-2019?prS=search&seS=homepage"">here</a>.
            </p>
        </div>
    </div>
</section>
