<section id="sponser">
    <div class="row">
        <div class="title text-center">Sponsors:</div>
        <div class="col-md-12 text-center">
            <a href="https://www.bigbinary.com/" target="_blank">
                <img class="big-binary-logo" src="../css/2018_style/img/big-binary-logo.svg"/>
            </a>
            <a href="https://www.coupa.com/" target="_blank">
                <img src="../css/2018_style/img/red_hat.png"/>
            </a>
            <a href="http://joshsoftware.com/" target="_blank">
                <img src="../css/2018_style/img/josh-logo.svg"/>
            </a>
        </div>
    </div>
</section>