<section id="sponser">
    <div class="row">
        <div class="title text-center">Sponsors:</div>
        <div class="col-md-12 text-center">
            <a href="https://aviabird.com/" target="_blank">
                <img src="../css/2018_style/img/aviabird-logo.jpg" style= "width: 200px; height: 140px"/>
            </a>
            <a href="https://www.redhat.com/" target="_blank">
                <img src="../css/2018_style/img/Red Hat Logo.jpg" style= "width: 180px; height: 60px"/>
            </a>
            <a href="http://joshsoftware.com/" target="_blank">
                <img src="../css/2018_style/img/josh-logo.svg" style= "width: 200px; height: 80px"/>
            </a>
        </div>
    </div>
</section>