<section id="venue">
    <div class="container">
        <a target="_blank" href="https://www.google.co.in/maps/place/Josh+Software+Private+Limited/@18.5123131,73.7677813,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2bed799aac07b:0x6799a8c390473c64!8m2!3d18.5123131!4d73.76997">
            <img src="../css/2018_style/img/blue-location-icon.png"><br>
        </a>
        JOSH SOFTWARE PVT. LTD.<br>
        2nd Floor, I-Space, IT Park,<br>
        Mumbai Pune Bypass Rd<br>
        Bavdhan, Pune,<br>
        Maharashtra 411021
    </div>
</section>
