<section id="venue">
    <div class="container">
        <a target="_blank" href="https://www.google.com/maps/dir/18.581221,73.7808686/red+hat+pune/@18.545386,73.7868441,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bc2c18db45b84d3:0xdb9df5c3cdabf9cd!2m2!1d73.927014!2d18.5169486">
            <img src="../css/2018_style/img/blue-location-icon.png"><br>
        </a>
        Red Hat India Private Limited.<br>
        Tower 10, Magarpatta Inner Circle<br>
        Road, Cybercity, Magarpatta, Hadapsar<br>
        Pune, Maharashtra 411028<br>
       
    </div>
</section>
