<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}

    <body id="page-top" class="index">
     {% include 2018_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GoLangGirls<br></div>
                <div class="intro-lead-in"><a href="/2018/pune" target="_blank">Pune - 25th Nov 2018</a> </div>
                <div class="intro-lead-in"><a href="/2018/bangalore" target="_blank" > Banglore - 2nd Dec 2018</a></div>
                <div class="intro-lead-in">Contact us to organise one in your
                  city!</div>
            </div>
        </div>
    </header>

    {% include 2018_data/registration.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/js.html %}

    </body>
</html>
