<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}

    <body id="page-top" class="index">
     {% include 2018_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GoLangGirls<br></div>
                <div class="intro-lead-in">Pune - 25th Nov 2018 </div>
                <div class="intro-lead-in"> Banglore - 2nd Dec 2018</div>
                <div class="intro-lead-in">Contact us to organise one in your
                  city!</div>
                <div class="intro-lead-in">
                  <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
                <a href="https://www.townscript.com/e/go-girls-pune"
                  class="page-scroll btn btn-xl" target="_blank">Register For
                  Pune's Workshop</a>
                <a href="https://www.townscript.com/e/go-girls-bengaluru"
                  class="page-scroll btn btn-xl" target="_blank">Register For
                  Banglore's Workshop</a>
            </div>
        </div>
    </header>
   
    {% include 2018_data/about.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/js.html %}

    </body>
</html>
